
# Data Processing Dependencies
pydantic~=2.10.6
pillow~=11.1.0
scikit-image~=0.25.2

# AI Dependencies
tensorflow~=2.19.0

# Web Server Dependencies
fastapi~=0.115.11
uvicorn~=0.34.0

starlette~=0.46.1